[project]
	description = Snowplow event tracker for Ruby. Add analytics to your Ruby and Rails apps and gems
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Janko Ulaga (jankoulaga)
[access "refs/for/refs/*"]
	read = group user/Janko Ulaga (jankoulaga)
	push = group user/Janko Ulaga (jankoulaga)
	label-Code-Review = -2..+2 group user/Janko Ulaga (jankoulaga)
	label-Verified = -1..+1 group user/Janko Ulaga (jankoulaga)
	rebase = group user/Janko Ulaga (jankoulaga)
	removeReviewer = group user/Janko Ulaga (jankoulaga)
	submit = group user/Janko Ulaga (jankoulaga)
[access "refs/heads/*"]
	read = group user/Janko Ulaga (jankoulaga)
	create = group user/Janko Ulaga (jankoulaga)
	push = +force group user/Janko Ulaga (jankoulaga)
	pushMerge = group user/Janko Ulaga (jankoulaga)
[access "refs/tags/*"]
	push = +force group user/Janko Ulaga (jankoulaga)
	pushTag = group user/Janko Ulaga (jankoulaga)
	pushSignedTag = group user/Janko Ulaga (jankoulaga)
